* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif; /* Corrección de 'front-family' a 'font-family' */
    background-color: #000;
    height: 100vh;
    overflow: hidden; /* Evita que aparezca scroll si no es necesario */
}

h1 {
    color: #fff;
    font-size: 36px !important;
    text-transform: uppercase;
    text-align: center;
    padding-top: 40vh;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
    z-index: 9999;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

#logo {
    position: absolute;
    top: 5%; /* Más arriba pero no completamente en la parte superior */
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; /* Asegura que la imagen esté encima de otros elementos */
    max-width: 400px; /* Imagen pequeña */
    height: auto; /* Mantiene la proporción de la imagen */
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5)); /* Agrega un efecto de brillo */
}
